*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F0F2F5;
}
h1,h2,h3,h4,h5,h6{
    margin: 0px;
    padding: 0px;
}

ul , li{
    padding: 0px;
}
.pl-0{
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
}

.login-area{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 8px #41414149;
    border-radius: 2px;
    padding: 25px;
}

.login-img{
    width:100%;
    height:100%;
}


.form-input {
    display: flex;
    align-items: start;
    width: 96%;
    border: none;
    border: 2px solid rgb(212, 207, 207);
    height: 36px;
    padding-left: 45px;
    text-transform: uppercase;
    font-size: 13px;
}

.form label{
    font-size: 14px;
}

form label span{
    color: red;
}

.form input:focus{
    outline: none;
}


.img-data a {
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
    color: rgb(34, 34, 34);
}

.logo-area{
    display: flex;
}

.logo-data{
    padding: 10px 0px 0px 10px;
}

.logo-data h4{
    font-size: 1.2rem;
}
.logo-data p{
    font-size: .8rem;
}

.log_btn{
    width: 129px;
    height: 37px;
    background-color: steelblue;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 24px 0px;
    font-size: .9rem;
    position: relative;
    bottom: 0px;
}

.login-info h3{
    padding: 27px 0px;
    font-size: 1.5rem;
    text-transform: uppercase;
}


.icon{
    position: relative;
    top:-30px;
    left: 20px;
}

.Forgot a{
    text-decoration: none;
    padding-right: 20px;
    font-size: .9rem;
}

/* dashborad  */

.edit-button a{
    background-color: black;
    padding: 10px;
    margin: 0px;
}

.side-menu{
    height: 100%;
    background-color: rgb(17, 70, 150);
    width: 100%;
    
}

.side-menu ul li {
    list-style: none;
    padding: 14px 0px;
    transition: .3s;
    padding-left: 35px;
}
.side-menu ul li:hover {
   background-color: rgb(29, 55, 104);
}
.side-menu ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 13px;
    color: aliceblue;
}

.user-icon i{
    font-size: 20px;
}

.header-menu{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    background-color: steelblue;
}
.logo{
    padding: 20px 0px 20px 40px;
}


.user-icon{
    padding: 20px 20px 0px 40px;
}
.user-icon i{
   margin-right: 15px;
   color: black;
}

.logo h6 a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.main-access{
    height: 100vh;
}


/* index  */

.access-data{
    border-top: 3px solid rgb(44, 44, 92);
    width: 100%;
    background-color: #FFFFFF;
    padding: 20px;
    margin: 10px 0px;
    border-radius: 5px;
}

.access-data i{
    font-size: 30px;
}
.access-data a{
    font-size: 20px;
    padding: 10px 0px;
    text-transform: capitalize;
    text-decoration: none;
    color: black;
    display:block;
}
.access-data p{
    font-size: 14px;
    text-transform: capitalize;

}
