*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F0F2F5;
}
h1,h2,h3,h4,h5,h6{
    margin: 0px;
    padding: 0px;
}

.login-area{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 8px #41414149;
    border-radius: 2px;
    padding: 25px;
}

.login-img{
    width:100%;
    height:100%;
}


.form-input {
    display: flex;
    align-items: start;
    width: 96%;
    border: none;
    border: 2px solid rgb(212, 207, 207);
    height: 36px;
    padding-left: 45px;
    text-transform: uppercase;
    font-size: 13px;
}

.form label{
    font-size: 14px;
}

form label span{
    color: red;
}

.form input:focus{
    outline: none;
}


.img-data a {
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
    color: rgb(34, 34, 34);
}

.logo-area{
    display: flex;
}

.logo-data{
    padding: 10px 0px 0px 10px;
}

.logo-data h4{
    font-size: 1.2rem;
}
.logo-data p{
    font-size: .8rem;
}

.log_btn{
    width: 129px;
    height: 37px;
    background-color: steelblue;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 24px 0px;
    font-size: .9rem;
    position: relative;
    bottom: 0px;
}

.login-info h3{
    padding: 27px 0px;
    font-size: 1.5rem;
    text-transform: uppercase;
}


.icon{
    position: relative;
    top:-30px;
    left: 20px;
}

.Forgot a{
    text-decoration: none;
    padding-right: 20px;
    font-size: .9rem;
}
